{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Register</h1>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'w-50 mx-auto'}}) }}
    {{ form_row(registrationForm.username) }}
    <div class="mt-2"></div>
    {{ form_row(registrationForm.firstPassword) }}
    <div class="mt-2"></div>
    {{ form_row(registrationForm.secondPassword) }}
    <div class="mt-2"></div>
    {{ form_row(registrationForm.email) }}
    <button type="submit" class="btn btn-success mt-3">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
