{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <div style="width: 130px;">&nbsp;</div>
        <div id="pagination" class="navigation border shadow">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div>
            <a href="{{ path('task_create') }}" class="btn btn-info text-white shadow">Créer une tâche</a>
        </div>
    </div>
    <div class="mt-4" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
        {% for task in pagination %}
            <div style="min-width: 400px;">
                <div class="thumbnail">
                    <div class="caption p-2 border shadow">
                        <div class="d-flex justify-content-between">
                            <div class="overflow-hidden blocTitle">
                                <h4 title="{{ task.title }}">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="text-decoration-none titleContent"
                                           href="{{ path('task_edit', {'id' : task.id }) }}">
                                            {{ task.title }}
                                        </a>
                                    {% else %}
                                        {{ task.title }}
                                    {% endif %}
                                </h4>
                            </div>
                            <div class="ms-3">
                                <h4>
                                    {% if task.isDone %}
                                        <span>
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                    {% else %}
                                        <span>
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        <div class="blocContent">
                            <p class="taskContent">
                                {{ task.content }}
                            </p>
                        </div>
                        <div>
                            <p class="d-flex flex-row-reverse author">
                                {{ task.idUser ? task.idUser.username : 'Anonyme' }}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse mb-5">
                        <a class="btn btn-info shadow"
                           href="{{ path('task_detail', {'id' : task.id }) }}?page={{ app.request.query.get('page') }}">
                            <i class="fa-solid fa-magnifying-glass fa-sm"></i>
                        </a>
                        {% if is_granted('ROLE_ADMIN') or (task.getIdUser() is not null and task.getIdUser().getId() == (app.user ? app.user.id : null)) %}
                            <a class="btn btn-success btn-sm me-1 align-content-center shadow"
                               href="{{ path('task_toggle', {'id' : task.id, 'page': app.request.query.get('page') ?: 1 }) }}">
                                {% if not task.isDone %}
                                    Marquer comme faite
                                {% else %}
                                    Marquer non terminée
                                {% endif %}
                            </a>
                            <a class="btn btn-danger btn-sm me-1 align-content-center shadow"
                               href="{{ path('task_delete', {'id' : task.id, 'page': app.request.query.get('page') ?: 1 }) }}">
                                Supprimer
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div>&nbsp;</div>
            <div class="d-flex justify-content-center alert alert-warning mt-5" role="alert">
                Aucune tâche n'a encore été enregistrée.
            </div>
        {% endfor %}
    </div>

    <script src="{{ asset('js/taskList.js') }}"></script>
{% endblock %}
