<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>To Do List app</title>
    <!--BootstrapV5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--Google FontAwesome-->
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Comfortaa&family=Imperial+Script&family=Roboto:ital,wght@0,300;0,400;0,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,600;0,800;1,300;1,400;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" {% if app.user %}href="{{ path('homepage') }}"
               {% else %}href="{{ path('app_login') }}"{% endif %}>
                To Do List app
            </a>
            <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
        </div>
    </div>
</nav>

<!-- Begin Page Content -->
<div class="container">
    <div class="col-md-12">
        <div class="col-md-8 mt-3">
            {% if not app.user %}
                {% if app.request.get('_route') == 'app_login' %}
                    <a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
                {% elseif app.request.get('_route') == 'app_register' %}
                    <a href="{{ path('app_login') }}" class="btn btn-secondary">Retour</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="d-flex justify-content-between mt-3 mb-1 {% if not is_granted('ROLE_ADMIN') %} flex-row-reverse {% endif %}">
            {% if app.user %}
                {% if  is_granted('ROLE_ADMIN') %}
                    <div class="d-flex gap-3 {% if app.request.get('_route') == 'app_register' %} flex-row-reverse {% endif %}">
                        {% if app.request.get('_route') == 'user_list' %}
                            <a href="{{ path("homepage") }}" class="btn btn-secondary text-white">Retourner à l'accueil</a>
                        {% else %}
                            <a href="{{ path("user_list") }}" class="btn btn-info text-white">Liste des utilisateurs</a>
                        {% endif %}
                        {% if app.request.get('_route') == 'app_register' %}
                            <a href="{{ path("homepage") }}" class="btn btn-secondary text-white">Retourner à l'accueil</a>
                        {% else %}
                            <a href="{{ path('app_register') }}" class="btn btn-primary">Créer un utilisateur</a>
                        {% endif %}
                    </div>
                {% endif %}
                <div>
                    <a href="{{ path('app_logout') }}" class="col-md-3 btn btn-danger" style="width:145px">
                        Se déconnecter
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <strong>Super !</strong> {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    <strong>Oops !</strong> {{ flash_message }}
                </div>
            {% endfor %}

            {% block header_title %}{% endblock %}
            {% block header_img %}
                <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
            {% endblock %}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<!-- Ending Page Content -->

<div class="container">
    <footer>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; OpenClassrooms</p>
            </div>
        </div>
    </footer>
</div>
<script src="https://kit.fontawesome.com/18e2e0bb4c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
